<div class="container">
  <h2><%= @event.title %></h2>
  <ul class="eventinfo">
    <li>@<%= @event.location %></li>
    <li>Draw date: <%= @event.draw_date%></li>
    <li>Gift exchange date: <%= @event.exchange_date%></li>
    <li>Description: <%= @event.description %></li>
    <li>Contact admin: <%= User.find(@event.admin_id).email %></li>

  </ul>

<% userevent = UserEvent.find_by(user_id: current_user.id, event_id: @event.id) %>
  <div class="giftee"></div>
  <% if current_user.id == @event.admin_id %>
    <h2>Joined users:</h2> <br>
    <ul class="eventinfo">
      <% @event.users.each do |user| %>
        <li><%= user.first_name %> <%= user.last_name %></li>
      <% end %>
    </ul>

    <form id="event-page" action="/events/<%= @event.id %>/edit" method="GET">
      <button type="submit">Edit</button><br>
    </form>

    <form id="assign-ss" action="/events/<%= @event.id %>/assign" method="GET">
      <button type="submit">Assign Secret Santa</button><br>
    </form>

  <% else %>
    <% if @event.users.include?(current_user) %>
      <form action="/events/<%= @event.id %>/leave" method="GET">
        <button type="submit">Leave the event</button><br>
      </form>
    <% else %>
      <form action="/events/<%= @event.id %>/join" method="GET">
        <button type="submit">Join</button><br>
      </form>
    <% end %>

  <% end %>
</div>
